* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Comfortaa", serif;
}

body {
  font-family: "Comfortaa", serif;
  background-color: #f5f7fa;
}

/* >>>>>>>>Loading<<<<<<<<< */

.loading {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #272b30d5;
}

.loader {
  background: #de3500;
  width: 48px;
  height: 48px;
  position: relative;
  text-align: center;
  animation: 3s rotate linear infinite;
}

.loader:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ffffffac;
  animation: 1.5s rotate reverse linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* >>>>>>>>Loading<<<<<<<<< */

.dflex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formInputs {
  margin: 30px 0px;
  padding: 10px;
  border-radius: 6px;
  /* background-color: rgba(44, 81, 137, 0.241); */
  box-shadow: 0px 0px 7px 0px rgba(123, 135, 153, 0.414);
}

.title {
  width: 100%;
  background-color: #f5f7fa;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.title h1 {
  letter-spacing: 1px;
  font-family: "Comfortaa", serif;
  background-color: #225872bf;
  color: white;
  font-weight: 500;
}

.inputDiv {
  position: relative;
}

.inputDiv p {
  letter-spacing: 1px;
}

.inputDiv input,
.inputDiv textarea {
  padding: 10px;
}

.inputDiv textarea {
  height: 120px !important;
  resize: none;
}

.form-label {
  position: absolute !important;
  z-index: 99;
  transition: all 0.3s ease;
  font-size: 16px;
}

.inputDiv input:focus + label,
.inputDiv textarea:focus + label {
  font-size: 15px !important;
  color: #888 !important;
  top: 0px !important;
}

.inputDiv input:focus,
.inputDiv textarea:focus {
  box-shadow: 2px 2px 13px 0px #7777774b !important;
  border: 2px solid #7777774b;
}

form #addBtn,
form #updateBtn {
  letter-spacing: 2px;
}

form .formBtn button {
  width: 200px;
}

/* >>>>>>>>>>>>>>>>>>>>>>>
>>>>>Display Card
>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.displayProduct .theCard {
  background-color: rgba(255, 254, 254, 0.718);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 5px;
}

.displayProduct .theCard h4 {
  text-transform: capitalize;
  margin-bottom: 20px;
  color: #422447;
}

.displayProduct .theCard p {
  font-size: 18px;
  text-transform: capitalize;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  padding: 4px 0px;
  border-radius: 5px;
  margin-bottom: 20px !important;
}

.displayProduct .theCard .price_category {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.displayProduct .theCard .price,
.displayProduct .theCard .category {
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 5px !important;
  font-weight: 500;
  padding: 4px 0px;
  border-radius: 5px;
  color: rgba(50, 49, 49, 0.75) !important;
}

.displayProduct .theCard img {
  height: 200px;
  border: 2px solid #39373725;
  border-radius: 6px;
  padding: 10px;
}

.theCard .proName {
  text-transform: capitalize;
  margin-top: 10px;
}

/* 
>>>>>>>>>>>>>(Media Query)
*/

@media (max-width: 776px) {
  form .formBtn button {
    width: 75%;
  }
}
